<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>task</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="food-1">
                <img src="../assets/images/food-1.jpg" alt="Food 1">
            </div>
            <div class="food-2">
                <img src="../assets/images/food-2.webp" alt="Food 2">
            </div>
            <div class="food-3">
                <img src="../assets/images/food-3.webp" alt="Food 3 ">
            </div>
            <div class="food-4">
                <img src="../assets/images/food-4.webp" alt="Food 4">
            </div>
            <div class="food-5">
                <img src="../assets/images/food-5.webp" alt="Food 5">
            </div>
            <div class="food-6">
                <img src="../assets/images/food-6.webp" alt="Food 6">
            </div>
        </div>
    </body>
</html>