<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>task</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div class="container">
           <img src="../assets/images/Fathy.jpeg" alt="fathy elkott" class="profile-image"> 
            <h1>fathy elkott</h1>
            <p>Sr. frontend developer</p>
            <div class="quote"><q>I can do it!</q></div>
            <button class="btn" class="follow-btn">Follow</button>
        </div>
<!-- 
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde veritatis nostrum quia dolorem excepturi inventore ullam quae laborum dolores cum eum voluptate mollitia corporis nemo quaerat deleniti eveniet expedita maiores culpa, reiciendis tempore cumque vitae harum! Accusantium, nobis officia, fugit, aut architecto rerum laudantium ipsam maxime neque vero commodi ratione?
            </p>
        </div>
        <div class="container-2">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde veritatis nostrum quia dolorem excepturi inventore ullam quae laborum dolores cum eum voluptate mollitia corporis nemo quaerat deleniti eveniet expedita maiores culpa, reiciendis tempore cumque vitae harum! Accusantium, nobis officia, fugit, aut architecto rerum laudantium ipsam maxime neque vero commodi ratione?
            </p>
        </div>
        <a href="" class="back-link">Back to Home</a> -->
    </body>
</html>