<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>task</title>
    </head>
    <body>
        <h1>MISR TRAVELS</h1>
        <p>This is our places for our clients this week we hope to be good for you</p>
        <table border="1">
            <tbody>
                <tr>
                    <td><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil fugit autem non necessitatibus, similique eaque libero? In quae, minima ullam ab commodi, debitis nulla voluptatum et eligendi provident, magni iste?</p></td>
                    <td><img src="../assets/images/HTML.webp" alt=""></td>
                    <td><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil fugit autem non necessitatibus, similique eaque libero? In quae, minima ullam ab commodi, debitis nulla voluptatum et eligendi provident, magni iste?</p></td>
                    <td><img src="../assets/images/HTML.webp" alt=""></td>
                </tr>
                <tr>
                    <td><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil fugit autem non necessitatibus, similique eaque libero? In quae, minima ullam ab commodi, debitis nulla voluptatum et eligendi provident, magni iste?</p></td>
                    <td><img src="../assets/images/HTML.webp" alt=""></td>
                    <td><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil fugit autem non necessitatibus, similique eaque libero? In quae, minima ullam ab commodi, debitis nulla voluptatum et eligendi provident, magni iste?</p></td>
                    <td><img src="../assets/images/HTML.webp" alt=""></td>
                </tr>
                <tr>
                    <td><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil fugit autem non necessitatibus, similique eaque libero? In quae, minima ullam ab commodi, debitis nulla voluptatum et eligendi provident, magni iste?</p></td>
                    <td><img src="../assets/images/HTML.webp" alt=""></td>
                    <td><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil fugit autem non necessitatibus, similique eaque libero? In quae, minima ullam ab commodi, debitis nulla voluptatum et eligendi provident, magni iste?</p></td>
                    <td><img src="../assets/images/HTML.webp" alt=""></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>