<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>task</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
        <div>
            <h1>Abdulkhaleq</h1>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
            <p>I am a student in faculty of science Helwan university majoring in Computer Science & mathematics and I am interested in web development and design and software engineering.</p>
            <p>My skills include HTML, CSS, and JavaScript.</p>
        </div>
    </body>
</html>